 #lucky-logo {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

/* button styling */
#lucky-logo {
  --border-right: 6px;
  --text-stroke-color: rgba(224, 224, 224, 0);
  --animation-color: #39cb80;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
#Lucky-Studio-hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover 或自动激活 */
#lucky-logo:hover .hover-text,
#lucky-logo.is-active .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 24px var(--animation-color))
}
